.el-lists {
  overflow: hidden;

  .el-pagination {
    text-align: right;
    margin-top: 6px;
  }

  .el-pagination__slot {
    float: right;
    padding: 2px 5px;
    font-weight: 400;
    color: #606266;
    font-size: 13px;
  }
}

.el-lists-container {
  overflow: auto;
  background-color: #fff;

  .el-scrollbar {
    height: 100%;
  }

  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
}

.el-lists_single {
  border: 1px solid #e1e4f8;
  margin-top: 16px;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.2s;

  &:nth-child(1) {
    margin-top: 0;
  }

  .el-lists_header {
    padding: 8px 25px;
    display: flex;
    background: linear-gradient(to bottom, #fefeff, #f7f7ff);
    align-items: center;
    position: relative;
    z-index: 1;

    .header_left,
    .header_right {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .header_left {
      flex: 2;
      justify-content: left;
    }

    .header_right {
      justify-content: right;
    }

    .status {
      display: inline-block;
      color: #fff;
      background-color: #92a5fc;
      height: 24px;
      line-height: 24px;
      margin-right: 12px;
      padding-left: 14px;
      padding-right: 14px;
      border-radius: 4px;
      font-size: 14px;
      flex: 0 0 auto;

      &.success {
        background-color: #00c1ce;
      }

      &.error {
        background-color: #ff637b;
      }

      &.warning {
        background-color: #eec08e;
      }

      &.wait {
        background-color: #92a5fc;
      }

      &.back {
        background-color: #c0c4cc;
      }

      &.other {
        background-color: #ff9baa;
      }
    }

    .title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      color: #363f4a;

      &.title-tooltip {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 0;
        flex: 1;
      }
    }

    .el-icon-arrow-right,
    .el-icon-arrow-down {
      border: 1px solid #606266;
      border-radius: 50%;
      padding: 1px;
      cursor: pointer;
      font-size: 12px;
      margin-left: 16px;
    }
  }

  &:hover {
    border-color: #92a5fc;
    box-shadow: 0 0 10px #d5d9eb;
    transition: all 0.2s;
  }
}

.el-lists_main {
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e1e4f8;
  position: relative;
}

.el-lists_top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
}

.el-lists_opera {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.el-lists_content {
  flex-grow: 1;

  .el-col {
    margin: 12px 0;
  }

  .el-lists_item {
    display: flex;
    // white-space: nowrap;
  }

  .name,
  .data {
    display: inline-block;
  }

  .name {
    color: #909399;
  }

  .data {
    color: #303133;
    flex: 1;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.el-lists_nodata {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
