.el-lists-container {
  height: 100%;
  overflow: auto;
}
.el-lists {
  border: 1px solid #e1e4f8;
  margin: 8px 0;
  background-color: #fff;

  &:nth-child(1){
    margin-top: 0;
  }
  &:nth-last-child(1){
    margin-bottom: 0;
  }

  .el-lists_header {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e1e4f8;
    padding: 0 25px;
    display: flex;

    .header_left,.header_middle,.header_right {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .header_left {
      justify-content: left;
    }
    .header_middle {
      justify-content: center;
    }
    .header_right {
      justify-content: right;
    }

    .status {
      display: inline-block;
      color: #fff;
      background-color: #92A5FC;
      height: 24px;
      line-height: 24px;
      margin-right: 12px;
      padding-left: 14px;
      padding-right: 14px;
      border-radius: 4px;
      font-size: 14px;

      &.success {
        background-color: #00C1CE;
      }

      &.error {
        background-color: #FF637B;
      }

      &.warning {
        background-color: #EEC08E;
      }

      &.wait {
        background-color: #92A5FC;
      }

      &.back {
        background-color: #C0C4CC;
      }

      &.other {
        background-color: #FF9BAA;
      }
    }

    .title {
      font-size: 16px;
      font-weight: 700;
      color: #363f4a;
    }
  }
}

.el-lists_main {
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.el-lists_opera{
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 36px;
}

.el-lists_content {
  flex-grow: 1;

  .el-col {
    margin: 12px 0;
  }

  .name,.data {
    display: inline-block;
  }

  .name {
    color: #909399;
  }

  .data {
    color: #303133;
  }
}

.el-lists_pagination {
  text-align: right;
}
