.el-lists {
  height: 100%;
  overflow: hidden;
  .el-pagination {
    text-align: right;
    margin-top: 4px;
  }
  .el-pagination__slot {
    float: right;
    padding: 2px 5px;
    font-weight: 400;
    color: #606266;
    font-size: 13px;
  }
}
.el-lists-container {
  height: calc(100% - 42px);
  overflow: auto;
  .el-scrollbar {
    height: 100%;
  }
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
}
.el-lists_single {
  border: 1px solid #e1e4f8;
  margin-top: 16px;
  background-color: #fff;

  &:nth-child(1){
    margin-top: 0;
  }

  .el-lists_header {
    padding: 8px 25px;
    display: flex;
    background: linear-gradient(to bottom, #FEFEFF, #F7F7FF);
    align-items: center;

    .header_left,.header_right {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .header_left {
      flex: 2;
      justify-content: left;
    }
    .header_right {
      justify-content: right;
    }

    .status {
      display: inline-block;
      color: #fff;
      background-color: #92A5FC;
      height: 24px;
      line-height: 24px;
      margin-right: 12px;
      padding-left: 14px;
      padding-right: 14px;
      border-radius: 4px;
      font-size: 14px;
      flex: 0 0 auto;

      &.success {
        background-color: #00C1CE;
      }

      &.error {
        background-color: #FF637B;
      }

      &.warning {
        background-color: #EEC08E;
      }

      &.wait {
        background-color: #92A5FC;
      }

      &.back {
        background-color: #C0C4CC;
      }

      &.other {
        background-color: #FF9BAA;
      }
    }

    .title {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      color: #363f4a;
    }

    .el-icon-arrow-right, .el-icon-arrow-down {
      border: 1px solid #606266;
      border-radius: 50%;
      padding: 1px;
      cursor: pointer;
      font-size: 12px;
      margin-left: 16px;
    }
  }

  &:hover {
    border-color: #92a5fc;
    box-shadow: 0 0 10px #d5d9eb;
    transition: all .3s
  }


}

.el-lists_main {
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e1e4f8;
}

.el-lists_opera{
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.el-lists_content {
  flex-grow: 1;
  .el-col {
    margin: 12px 0;
  }

  .el-lists_item {
    display: flex;
    // white-space: nowrap;
  }

  .name,.data {
    display: inline-block;
  }

  .name {
    color: #909399;
  }

  .data {
    color: #303133;
    flex: 1;

    width: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
