.el-list {
  height: 170px;
  border: 1px solid #e1e4f8;
  margin: 16px 0;

  .el-list_head {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e1e4f8;
    display: flex;
    padding: 0 25px;

    .status {
      margin-right: 12px;
    }

    .title {
      font-size: 16px;
      font-weight: 700;
      color: #363f4a;
    }
  }
}

.el-lists_main {
  padding: 14px 24px;
}

.el-list_opera,.el-list_content  {
  display: inline-block;
  vertical-align: text-top;
}

.el-list_content {
  background: #fff;
}
