.el-list {
  width: calc(100% - 2px);
  height: 170px;
  border: 1px solid #e1e4f8;
  margin: 16px 0;

  .el-list_head {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e1e4f8;
    display: flex;
    padding: 0 25px;
  }
}

.el-list_content {
  background: #fff;
  padding: 14px 0 14px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
